---
minimum_pre_commit_version: 1.21.0
fail_fast: false
default_stages: [ pre-commit, pre-push ]
repos:
  # meta

  - repo: meta
    hooks:
      - id: check-useless-excludes

  # formatters

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        stages: [ pre-push ]

  # linters

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: [ "-x", "tests" ]
        stages: [ pre-push ]

  - repo: local
    hooks:
      - id: uv
        name: uv check
        description: Validates the structure of the pyproject.toml file
        entry: uv pip check
        language: system
        pass_filenames: false
        files: ^pyproject.toml$
        stages: [ pre-push ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: ["--install-types", "--non-interactive", "--ignore-missing-imports"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-ast
      - id: check-builtin-literals
      - id: detect-private-key
      - id: no-commit-to-branch

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      #      - id: rst-backticks
      - id: python-use-type-annotations
      - id: python-no-log-warn
      - id: python-no-eval
      - id: python-check-mock-methods
      - id: python-check-blanket-noqa
